body{
    background: linear-gradient(to right, #738ee6 , #33778a)
    
}

#corpoCalculadora{
    background: white;
    width: 330px; /*325*/
    height: 505px; /*515*/
    margin: 80px auto 5px;
    border-radius: 10px;
    overflow: hidden;
    
}

#visor{
    overflow: hidden;
    padding-right: 8px;
    font-family: 'Shadows Into Light', cursive;
    
}
#acumulador{
    height: 70px;
    text-align: right ;
    font-size: 25px;
    color: rgb(165, 162, 162);
    
}

#tela{
    height: 70px;
    text-align: right ;
    font-size: 50px;
}

.botoes{
    width: 325px;
    height: 380px;
    margin: auto;
    /* padding: 0px; */
    overflow: hidden;
}

.botoes button{
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    width: 25.3%;
    height: 20%;
    border: none;
    /* padding: 0px; */
    margin: -2px;
   
}
.botoes button:hover{
    background: rgb(221, 221, 221);
    transition: 300ms;
}
.botoes button:active{
    background: rgb(184, 184, 184);
    transition: 300ms;
}

#botaoIgual{
    background: rgb(143, 187, 216);
}
 #botaoIgual:hover{
    background: rgb(65, 153, 212);
    transition: 300ms;

 }

 #botaoIgual:active{
    background: rgb(10, 129, 209);
    transition: 300ms;

 }

.botoesFunçao{
    background: rgb(228, 226, 226);
}

